.calendar {
  padding: 16px;
  display: flex;
  justify-content: space-between;

  &__date {
    display: flex;
    flex-direction: column;
  }

  &__modal {
    max-width: 100%;
    padding: 0 16px;
    --background: none;
    @media (min-width: 576px) {
      padding: 0 24px;
    }
    .blank {
      flex-grow: 1;
    }
  }

  &__datepicker {
    max-width: 100%;
    padding: 16px;
    color: black;
    @media (min-width: 767px) {
      height: 100%;
    }
  }
}

body.dark .calendar__datepicker {
  color: white;
}

.leagues {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.matches {
  &__not-found {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }

  &__item {
    margin-top: 16px;
    max-width: 100%;
    transition: all 0.3s ease;
    transition-property: max-width, transform;
    &.clickable {
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }
    }
    @media (min-width: 767px) {
      margin: 16px auto 0;
      max-width: 500px;
    }
    &--content {
      margin: auto;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 100%;
      flex-wrap: wrap;
      @media (min-width: 767px) {
        padding: 24px;
      }
    }
    &--team {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      img {
        display: inline-block;
        height: 32px;
        transition: all 0.3s ease;
        @media (min-width: 767px) {
          height: 50px;
        }
      }
      p {
        display: inline-block;
        margin: 0;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease;
        @media (min-width: 767px) {
          font-size: 14px;
        }
      }
    }

    &--score {
      width: calc(30% - 16px);
      font-size: 12px;
      text-align: center;
      transition: all 0.3s ease;
      @media (min-width: 767px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.stats {
  padding: 24px;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 14px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__home {
    width: 30%;
    text-align: left;
    &--name {
      font-weight: 600;
      font-size: 16px;
    }
  }
  &__type {
    width: 40%;
    text-align: center;
    &--scores {
      font-weight: 600;
      font-size: 16px;
    }
    &--item {
      font-weight: 600;
    }
  }
  &__away {
    width: 30%;
    text-align: right;
    &--name {
      font-weight: 600;
      font-size: 16px;
    }
  }
  &__scorers {
    border-bottom: 1px solid #eee;
    &--item {
      border-bottom: none !important;
      &.type {
        font-weight: 600;
      }
    }
  }
  &__close {
    margin: 16px;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  p {
    margin: 0;
    padding: 8px 0;
    height: 33px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.show-modal {
  #ion-react-wrapper {
    justify-content: space-evenly;
  }
}
