.calendar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.calendar__date {
  display: flex;
  flex-direction: column;
}

.calendar__modal {
  max-width: 100%;
  --background: none;
}

.calendar__modal .blank {
  flex-grow: 1;
}

.calendar__datepicker {
  max-width: 100%;
  margin: 0 16px;
  padding: 16px;
  color: black;
}

body.dark .calendar__datepicker {
  color: white;
}

.leagues {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.matches__item {
  margin-top: 16px;
  cursor: pointer;
}

.matches__item--content {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
  flex-wrap: wrap;
}

.matches__item--team {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.matches__item--team img {
  display: inline-block;
  height: 32px;
}

.matches__item--team p {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.matches__item--score {
  width: calc(30% - 16px);
  font-size: 12px;
  text-align: center;
  transition: all .3s ease;
}

.stats {
  padding: 24px;
  display: flex;
  font-size: 14px;
}

.stats__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats__home {
  width: 30%;
  text-align: left;
}
.stats__home--name {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stats__type {
  width: 40%;
  text-align: center;
}
.stats__type--scores {
  font-weight: 600;
  font-size: 16px;
}
.stats__away {
  width: 30%;
  text-align: right;
}
.stats__away--name {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stats p {
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}
.stats__close {
  margin: 16px;
}
.show-modal #ion-react-wrapper {
  justify-content: space-evenly;
}
