.standings__tournaments {
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.standings__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.standings__table {
  padding: 24px;
}
.standings__table--container {
  overflow-x: auto;
  @media (max-width: 350px) {
    font-size: 12px;
  }
}
.standings__table--row {
  margin-bottom: 10px;
  flex-wrap: nowrap;
  text-align: center;
  ion-col {
    padding: 10px;
    height: 44px;
    line-height: 24px;
    border-bottom: 1px solid #eee;
  }
}
.standings__table--team-name {
  min-width: 150px;
}
.standings__table--team-name div {
  display: flex !important;
  align-items: center;
}
.standings__table--team-name img {
  height: 24px;
  margin-right: 8px;
}
.standings__table--team-name p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
